{% extends 'base.html' %}
{% block content %}

{% if post.id %}
<h2 class="center">Update Your Post:</h2>
{% else %}
<h2 class="center">Create a Post:</h2>
{% endif %}
<br><br>
<div class="card">

    {% load material_form %}
    <div class="">
        <form id="post-table" action="" method="POST">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <div class="card-action center">
                <input type="submit" value="Submit!" class="waves-effect waves-light btn indigo accent-2">
                <a href="{% url 'home' %}" class="btn white red-text">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    const selectEl = document.getElementById('id_status');
    M.FormSelect.init(selectEl)
    const businessLabel = document.getElementById('id_is_business').nextSibling
    businessLabel.innerText = 'Are you a business seeking an engineer?'
</script>
{% endblock %}