{% extends 'base.html' %}
{% block content %}

<div class="center">
    <h1>About EngiNear</h1>
    <img src="https://imgur.com/4RPRzLU.jpg">
    <p>Help developers get connected with local or remote businesses to contract software engineering help.
        <hr>
        Some small businesses want to have a digital footprint but don’t know where to start. 
        <br>
        Some software engineers want some freelance work.
    </p>
    <p>Meet the staff:
        <br>
        David Martin: <a href="https://www.linkedin.com/in/david-r-martin-software-engineer/" target="_blank">LinkedIn</a>
        <a href="https://github.com/drmartin2233" target="_blank">Github</a>
        <br>
        Kevin Sullivan: <a href="https://www.linkedin.com/in/kevin-sullivan-se/" target="_blank">LinkedIn</a>
        <a href="https://github.com/skullington4/" target="_blank">Github</a>
        <br>
        Corvus Pratt: <a href="https://www.linkedin.com/in/corvusjarp/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Corvus929" target="_blank">Github</a>
        <br>
        Kristone Brown: <a href="https://www.linkedin.com/in/kristone-brown/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Keyystone4" target="_blank">Github</a>
        <br>
    </p>
</div>

{% endblock %}