{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EngiNear</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <!-- <div class="card-panel teal lighten-2"> -->
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="brand-logo center">&nbsp;&nbsp;EngiNear</a></li>
        </ul>
        <ul class="left">
          <li><a href="{% url 'seekinghelp' %}">Seeking Help?</a></li>
          <li><a href="{% url 'seekingwork' %}">Seeking Work?</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
        
        </ul>
      </div>
    </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="center">
      All Rights Reserved, &copy; 2023 EngiNear &nbsp;
    </div>
  </footer>
</body>
</html>
