{% extends 'base.html' %}

{% block content %}
<br>
<div class="center">
    <h1>Welcome to EngiNear</h1>
    <h4>Where Work Gets Done!</h4>
    <br>
    {% if user.id %}
    <h5>Your Posts:</h5>
    {% endif %}


    {% for post in posts %}
    <a href="{% url 'detail' post.id %}">
        
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ post.title }}</span>
                <p>Rate: ${{post.rate}}</p>
                <br>
                <p class="red-text">Status: {{ post.get_status_display }}</p>
            </div>
        </div>  
    </a>
    {% endfor %}    
</div>
{% endblock %}